{
    "rules": {
        "import/no-unresolved": [
          "error",
          {
            "ignore": ["react-native"]
          }
        ],
        "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
        "no-underscore-dangle": ["error", { "allow": ["_console"] }]
    },
    "extends": "rallycoding"
}